<header class="jumbotron">
    
    <h1>Forum Football</h1>
    <p>Veuillez respecter les règles du site lorsque vous postez un message, aucune insulte, racisme etc ne sera autorisé sous peine de banissement permanent.</p>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Date de création</th>
            <th scope="col">Date de la dernière réponse</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Que faire si blabla ?</td>
            <td>Jacob</td>
            <td>22-03-2020</td>
            <td>23-03-2020</td>
          </tr>
          <tr>
            <td>Vous pensez quoi de bla bla</td>
            <td>Francis</td>
            <td>15-09-2020</td>
            <td>15-09-2020</td>
          </tr>
          <tr>
            <td>Le tournoi d'hiver</td>
            <td>Pierre</td>
            <td>07-11-2020</td>
            <td>09-11-2020</td>
          </tr>
        </tbody>
      </table>
    
    
    
    
    



</header>
