<header class="jumbotron">
<p>Bienvenue dans la section forum du site, des moderateurs se reservent le droit de supprimer des topics/messages en cas de message offensants/vulgaires ou tout simplement jugés inaproprié aux règles du forum</p>
<br><br>
<div>
    <table class="table">
        <tbody>
          <tr>
            <button type="button" routerLink="/forum-football" id="btn-football">Forum Football</button>
            <button type="button" routerLink="/forum-basketball" id="btn-basketball">Forum Basketball</button>
            <button type="button" routerLink="/forum-volleyball" id="btn-volleyball">Forum Volleyball</button>   
          </tr>
          <tr>
            <img src="assets/img/img_foot_forum_btn.jpg" id="img">
            <img src="assets/img/img_basket_forum_btn.jpg" id="img">
            <img src="assets/img/img_volley_forum_btn.png" id="img">
          </tr>
        </tbody>
      </table>
</div>  
</header>
