<div class="container">
    <header class="jumbotron">
        <button type="button" class="btn btn-success">Accéder au forum Football</button>
      <br><br>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2>Liste des articles pour la catégorie : Football</h2>
        </div>
        <br><br>
        <div class="panel-body" *ngIf="articles">
          <ul *ngFor="let article of articles">
            <td class="title">&nbsp;{{article.title}}&nbsp;</td>
            <br><br>
            <td class="message">&nbsp;{{article.message}}&nbsp;</td>
            <br><br>
            <td class="date">Date de publication de l'article : {{article.date|date:'dd-MM-yyyy'}}</td><br>
            <td class="author">Auteur : {{article.user.firstname}} </td>
            <td class="contact">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact : {{article.user.email}} </td>
            <p>---------------------------</p>       
            <br><br>
          </ul>  
        </div>   
      </div>


       <!-- <div class="panel-body">-->
        <ul class="nav nav-pills" *ngIf="pages">
          <li *ngFor="let page of pages; let i=index" [ngClass]="i==currentPage?'active':''">
             <!-- <a class="glyphicon glyphicon-trash pull-right" style="cursor: pointer"(click)="onPageArticle(i)">{{i}}</a>-->
             <a style="cursor: pointer" (click)="onPageArticle(i)">{{i}}</a>
          </li>
        </ul>
    
        <p>currentPage = {{currentPage}}</p>
        <p>Nbre articles par page = {{size}}</p>



          
<!--table-vcenter-->
<!--
          <table class="table table table-striped"> 
            <thead>
              <tr>
                <th>Title</th>
                <th>Message</th>
                <th>Date</th>
                <th>Auteur</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let article of articles">
                <td>{{article.title}}</td>
                <td>{{article.message}}</td>
                <td>{{article.date|date:'yyyy-MM-dd'}}</td>
                <td>{{article.user.firstname}}</td>
              </tr>
            </tbody>
          </table>
-->

       <!-- </div>-->
    </header>

  </div>


  <!--      <h1>Les news concernant le football sont disponibles ici.</h1>
      <br>
      <button type="button" class="btn btn-primary">Accéder au forum Football</button>
      <br><br><br><br><br>
      <p>{{ content }}</p>
      <br><br><br><br><br>
      <p *ngFor="let article of article">
        <p> {{ article.id }} </p>
    </p>-->
