<div id="app">
  <div class="topnav" id="myTopnav">
    <a href="/home" class="active" routerLink="home">Associations sportives</a>
    <a href="/football" routerLink="football">Football </a>
    <a href="/basketball" routerLink="basketball">Basketball </a>
    <a href="/volleyball" routerLink="volleyball">Volleyball </a>
    <a href="/register" routerLink="register" *ngIf="!isLoggedIn">Sign Up</a>
    <a href="/login" routerLink="login" *ngIf="!isLoggedIn">Login</a>
    <a href="/profile" routerLink="profile" *ngIf="isLoggedIn">Profile</a>
    <a href class="nav-link" (click)="logout()" *ngIf="isLoggedIn">LogOut</a>
    <a href="javascript:void(0);" class="icon" (click)="burger()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>