.btn-align{
    display : inline;
    margin-left: 25px;
    margin-right:50px;
}

#btn-list-article{
    background: radial-gradient(circle, rgba(255,239,224,1) 31%, rgba(251,210,132,1) 65%, rgba(255,166,0,1) 87%);
    padding: 7px;
    font-size: 20px;
    border-radius: 30px;
    border-color : black(190, 10, 10);
    color: rgb(0, 0, 0);
    text-align: center;
}


@media screen and (max-width: 770px) {
    .btn-align{
        display:inline-block;
    }
}