<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <div class="info_user" id="info_user">
      <h3>
        Profile : <strong>{{ currentUser.firstname }}</strong> 
      </h3>
      <p>
        <strong>Token:</strong>
        {{ currentUser.accessToken.substring(0, 20) }} ...
        {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
      </p>
      <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
      </p>
      <strong>Roles:</strong>
      <ul>
        <li *ngFor="let role of currentUser.roles">
          {{ role }}
        </li>
      </ul>
      <br><br>
      </div>
      <div class="btn-align">
      <button *ngIf="currentUser.roles.includes('ROLE_ADMIN') || currentUser.roles.includes('ROLE_MODERATOR')" id="btn-list-article" type="button" routerLink="/mod">Accéder à la liste de vos articles</button>
      </div>
    </header>
  </div>
  <ng-template #loggedOut>
    <header class="jumbotron">
      Please login.
    </header>
  </ng-template>