<div class="container">
    <header class="jumbotron">

      <div display="inline">

      <button *ngIf="currentUser.roles.includes('ROLE_ADMIN') || currentUser.roles.includes('ROLE_MODERATOR')" 
      type="button" class="btn btn-primary" id="btn-profil" routerLink="/profile">Accéder à votre profil</button> &nbsp;&nbsp;

      <button type="button" id="create_article_btn" *ngIf="currentUser.roles.includes('ROLE_ADMIN') || currentUser.roles.includes('ROLE_MODERATOR')" 
      class="btn btn-warning" routerLink="/createarticle">Créer un nouvel article </button>

      <div *ngIf="validateUpdated"  class="alert alert-success">L'article a bien été mis à jour.</div>
      <button type="button" class="btn btn-danger" id="btn-return-list-own-articles" (click)="reloadPage()">Accéder à la liste de vos articles</button>
    </div>



<div id="title_list"><h1>Liste de vos articles (Trié par date): </h1></div><br><br>
    <div class="content" id="content_articles">
      <ul *ngFor="let article of articles; let j=index">
        <td><strong>Catégorie : </strong>
          <table> <td *ngFor="let category of article.categories">{{category.description}}...</td> </table>
         </td><br>
        <td class="title">&nbsp;{{article.title}}&nbsp;</td>
        <br><br>
        <td class="message">&nbsp;{{article.message}}&nbsp;</td>
        <br><br>
        <td class="date">Date de publication de l'article : {{article.date|date:'dd-MM-yyyy'}}</td><br>
        <td class="author">Auteur : {{article.user.firstname}} </td>
        <td class="contact">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact : {{article.user.email}} </td><br>
       <!--<td button type="button" class="btn btn-warning" (click)="changeArticle(article.id_article)">Modifier l'article</td>--> 
       <td>
        <button type="button" class="btn btn-warning" id="btn-change-article" (click)="changeArticle(article.id_article)">Modifier l'article</button>
      </td>
        <p>---------------------------</p>
        <br><br>
      </ul>
    </div>

<!--
      <div class="panel panel-primary" id="panel panel-primary">
        <div class="panel-heading">Liste de vos articles</div>
        <div class="panel-body">
          <tr>
            <th>Titre de l'article</th>
            <th>Date de parution</th>
            <th>Modifier un article</th>
            <th>Categories</th>
          </tr>
          <tr *ngFor="let article of articles; let j=index">
            <td><a class="article-title" style="cursor: pointer">{{article.title}}</a></td>
            <td>{{article.date|date:'dd-MM-yyyy'}}</td>
           <td button type="button" class="btn btn-warning" (click)="changeArticle(article.id_article)">Modifier l'article</td>
           <td>
           <table> <td *ngFor="let category of article.categories">{{category.description}}</td> </table>
          </td>
          </tr>
        </div>
      </div>
-->

<br><br>
             <!-- <div class="panel-body">-->
              <ul class="nav nav-pills" id="page_number" *ngIf="pages">
                <li *ngFor="let page of pages; let i=index"><!-- [ngClass]="i==currentPage?'active':''"         -->
                   <!-- <a class="glyphicon glyphicon-trash pull-right" style="cursor: pointer"(click)="onPageArticle(i)">{{i}}</a>-->
                   <a *ngIf="i!=currentPage" style="cursor: pointer" (click)="onPageArticle(i)">{{i}}</a>
                   <a *ngIf="i==currentPage" style="cursor: pointer" (click)="onPageArticle(i)"><strong>{{i}}</strong></a>
                </li>
              </ul>
        

              <div class="col-md-12" id="col-md-6" center>
                <h2>Page de modification d'un article</h2>
                <div class="card card-container">

                  <!--
                  <div class="form-group" id="id_article" *ngIf="singleArticle">
                    <label for="id">Article id</label>
                  <input type="text" class="form-control" name="id" id="id_article" [(ngModel)]="singleArticle.id_article" [ngModelOptions]="{standalone: true}" readonly="readonly" required/>
                </div>-->



                <div class="form-group" id="categories_article" *ngIf="singleArticle && categoriesName">
                  <label for="categories">Catégorie(s)</label>&nbsp;&nbsp;
                  <!--*ngFor="let category of singleArticle.categories" -->
                  <!--<input type="text-box"class="form-control" name="categories" [(ngModel)]="categoriesName"        
                  [ngModelOptions]="{standalone: true}" required/>-->
                  <div style="display:inline" id="categories_article_update">
                    <button type="button" id="activated" (click)="removeCategory(categoriesName[0])" *ngIf="validateCategory(categoriesName[0])">{{categoriesName[0].description}}</button>
                    <button type="button" id="desactivated" (click)="addCategory(categoriesName[0])" *ngIf="!validateCategory(categoriesName[0])">{{categoriesName[0].description}}</button>
                    
                    &nbsp;&nbsp;
                   
                    <button type="activated" id="activated" (click)="removeCategory(categoriesName[1])" *ngIf="validateCategory(categoriesName[1])">{{categoriesName[1].description}}</button>
                    <button type="desactivated" id="desactivated" (click)="addCategory(categoriesName[1])" *ngIf="!validateCategory(categoriesName[1])">{{categoriesName[1].description}}</button>
                    &nbsp;&nbsp;
                    <button type="activated" id="activated" (click)="removeCategory(categoriesName[2])" *ngIf="validateCategory(categoriesName[2])">{{categoriesName[2].description}}</button>
                    <button type="desactivated" id="desactivated" (click)="addCategory(categoriesName[2])" *ngIf="!validateCategory(categoriesName[2])">{{categoriesName[2].description}}</button> 
                    <div class="alert alert-danger" *ngIf="!validateCategory(categoriesName[0]) && !validateCategory(categoriesName[1]) && !validateCategory(categoriesName[2])">Au moins 1 catégorie doit être sélectionnée.</div>
                  </div>
                </div>

                  <div class="form-group" id="title_article" *ngIf="singleArticle">
                    <label for="title">Title</label>
                  <input type="title" class="form-control" name="title" [(ngModel)]="singleArticle.title" [ngModelOptions]="{standalone: true}" required minlength="5" maxlength="70"/>
                  <div class="alert alert-danger" *ngIf="titleInputError">Le titre doit faire entre 5 et 70 caractères.</div>
                </div>

                  <div class="form-group" id="message_article" name="message" *ngIf="singleArticle">
                    <label for="message">Message</label>
                  <textarea class="form-control" rows="15" [(ngModel)]="singleArticle.message" [ngModelOptions]="{standalone: true}" required minlength="5" maxlength="1000"></textarea>
                  <div class="alert alert-danger" *ngIf="messageInputError">Le message doit faire entre 5 et 1000 caractères.</div>
                </div>

                  <div class="form-group" id="date_article" name="date" *ngIf="singleArticle">
                    <label for="date">Date de publication</label>
                  <input type="text" class="form-control" [(ngModel)]="singleArticle.date" readonly="readonly" [ngModelOptions]="{standalone: true}" required/>
                  </div>

                  <div class="form-group" id="activearticle" name="active" *ngIf="singleArticle">
                    <label for="active">Activer/Desactiver cet article (Un article désactivé n'apparaît pas sur le dashboard)</label>
                      <button type="button" id="change_article_active" (click)="change_article_active()" *ngIf="isActive()">Active</button>
                      <button type="button" id="change_article_inactive" (click)="change_article_active()" *ngIf="!isActive()">Inactive</button>
                  </div>


                    <button type="button" class="btn btn-warning" id="btn-change-article" (click)="updateArticle()">Valider</button>
                    <div class="alert alert-danger" *ngIf="content=='error_message_failed_to_update_article'">Une erreur est survenue.</div>
                  </div>  
              </div>


















    </header>
  </div>
