.nav-pills li{
    color: rgb(0, 0, 0);
    background : rgb(243, 243, 156);
    font-size:20px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 30%;
    padding: 5px;
}

.article-title{
    color: red;
}

.title{
    color: black;
    font-family: cursive,sans-serif, serif;
    font-size: 40px;
    background: white;
    border-radius: 15px;
    border: 2px solid black;
    /* background-color: rgb(255, 0, 0); 
    */
}

#id_article{
    margin-left:20px;
    width:50px;
}

#categories_article{
    margin-top:25px;
    margin-left:20px;
    margin-right:20px;
}

#title_article{
    margin-left:20px;
    width:400px;
}

#message_article{
    margin-left:20px;
    margin-right:20px;
}

#date_article{
    margin-left:20px;
    width:300px;
}

#activearticle{
    margin-left:20px;
    width:100px;
}

#activated{
    background-color: yellow;
    border-radius: 40%;
    border-color : black;
    color: rgb(0, 0, 0);
    text-align: center;
}

#desactivated{
    background-color: #ffffff;
    border-radius: 40%;
    border-color : black;
    color: rgb(0, 0, 0);
    text-align: center;
}


#change_article_active{
    background-color: yellow;
    border-color : black;
    color: rgb(0, 0, 0);
    text-align: center;
}

#change_article_inactive{
    background-color: white;
    border-color : black;
    color: rgb(0, 0, 0);
    text-align: center;
}

#btn-custom1 {
    background: radial-gradient(circle, rgba(224,250,255,1) 31%, rgba(146,229,245,1) 65%, rgba(0,214,255,1) 84%);
    padding: 7px;
    font-size: 20px;
    border-radius: 20px;
    border-color : black(190, 10, 10);
    color: rgb(0, 0, 0);
    text-align: center;
}

#btn-custom2 {
    background: radial-gradient(circle, rgba(227,255,224,1) 31%, rgba(53,204,60,1) 65%, rgba(155,255,0,1) 84%);
    padding: 7px;
    font-size: 20px;
    border-radius: 20px;
    border-color : black(190, 10, 10);
    color: rgb(0, 0, 0);
    text-align: center;
}

@media screen and (max-width: 765px) {
    #title_article{
        width: 300px;
    }
    .title {
        font-size: 20px;
      }
}

#btn-return-list-own-articles{
    background: radial-gradient(circle, rgba(255,239,224,1) 31%, rgba(251,210,132,1) 65%, rgba(255,166,0,1) 87%);
    padding: 7px;
    font-size: 20px;
    border-radius: 30px;
    border-color : black(190, 10, 10);
    color: rgb(0, 0, 0);
    text-align: center;
}

#btn-change-article{
    width:200px;
    font-size: 20px;
    color: black;
    border: 2px solid black;
    border-radius: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    background: radial-gradient(circle, rgba(241,241,241,1) 24%, rgba(252,252,252,1) 35%, rgba(0,168,255,1) 42%, rgba(170,226,255,1) 42%, rgba(0,255,8,1) 48%, rgba(255,255,255,1) 54%, rgba(255,0,0,1) 61%, rgba(247,247,247,1) 71%, rgba(0,214,255,1) 72%, rgba(146,229,245,1) 79%, rgba(0,214,255,1) 86%);
}

